.photo {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 2px solid rgb(177, 176, 176);
}

.photo:hover {
  border: 2px solid brown;
}

.selectedPage {
  font-weight: bold;
  color: red;
}