.descriptionBlock {
  padding: 10px;
} 

.wallpaper {
  width: 100%;
}

.userPhoto {
  height: 300px;
  border: 3px solid brown;
}

.contact {
  padding-left: 10px;
}

.formSummaryError {
  border: solid red 1px;
  padding: 5px;
  color: red;
}
